h4 {
    font-weight: bold;
    color: orangered;
}
body {
    background-image: url(images/pizza.bg.jpg);
    background-size: cover;
    font-family: 'Niconne', cursive;
  
  }
  .first {
    text-align: center;
    font-family: 'Frijole', cursive;
    padding: 25px;
    color: black;
    height: 150px;
  }
  .btn {
    float: right;
  }
  .one {
    padding: 10px;
    float: right; 
    background: transparent;
    color: white;
    font-family: "Henny Penny", cursive;
  }
  .card{
      float: right;
      background: transparent;  
      color: black;
      font-weight: bolder;
      font-size: 40px; 
  }
body {
    background-color: black;
    font-size: xx-large;
    margin: 0;
    padding: 0;
    height: auto;
    overflow-x: hidden;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
.section1{
    background-image: url(images/pizza.bg.jpg) no-repeat;
    padding: 50;
    margin: 0;
    position: relative;
    font-family: 'Lobster', cursive;
    text-align: center;
}
.section2{
    font-family: 'Satisfy', cursive;
    text-align: center;

}
.section3{
font-family: 'Caveat', cursive;
}
.card-deck {
    padding: 5% 1%;
}
.card {
    margin: 10px 0;     
    position: relative;
    overflow: hidden;
    background: transparent;
    text-align: center;
    margin: 10px 0;
    position: relative;       
}
.form{
    background: transparent;
    color:gray;
    font-family: 'New Rocker', cursive;
    font-size: 20px;
}