body {
    background-color: orangered;
    font-size: xx-large;
}
.section1{
    background: url(css/images/pizza.bg.jpg) no-repeat;
    padding: 50;
    margin: 0;
    background-size: cover;
    position: relative;
}
.card-deck {
    padding: 5% 1%;
}
.card {
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}
.form{
    background: transparent;
    color:gray;
    font-family: 'New Rocker', cursive;
    font-size: 20px;
}